html {
    font-size: 10px;
    height: 100%;
    width: 100%;
}
body {
    background: #c49a6a;
    height: 100%;
    padding: 2.5%;
    width: 100%;
    #wrapper {
        background: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        #side {
            background: #fff;
            height: 100%;
            width: 20%;
            #icon-area {
                height: 40%;
                padding: 10% 15% 0 15%;
                width: 100%;
                #icon {
                    background: url('../img/icon.png') no-repeat;
                    width: 100%;
                    height: 65%;
                    background-size: contain;
                    background-position: center center;
                }
            }
            #side-nav {
                height: 60%;
                width: 100%;
                ul {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    @for $i from 1 through 4 {
                        li:nth-child(#{$i}) {
                            background: url('../img/sideTag#{$i}.png')
                                no-repeat;
                            background-size: contain;
                            background-position: center center;
                            height: 20%;
                            width: 87%;
                        }
                    }
                }
            }
        }
        #main {
            height: 100%;
            width: 80%;
            #timeline-nav {
                background: #ccc;
                height: 9.7%;
                width: 100%;
                ul {
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    width: 100%;
                    li {
                        align-items: center;
                        display: flex;
                        font-size: 2.4rem;
                        font-weight: bold;
                        justify-content: center;
                        height: 100%;
                        width: calc(100% / 4);
                    }
                    #timeline-group {
                        border-right: 1px solid #000;
                        border-left: 1px solid #000;
                    }
                    #timeline-channel {
                        border-right: 1px solid #000;
                    }
                }
            }
            #contents {
                background: #eee;
                height: 90.3%;
                width: 100%;
                overflow-y: auto;
                .left-log {
                    background: url('../img/latestContents.png') no-repeat;
                    background-size: cover;
                    background-position: center center;
                    height: 50%;
                    width: 100%;
                    position: relative;
                    &-title,
                    &-icon,
                    &-explanation,
                    &-date {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        position: absolute;
                    }
                    .left-log-title {
                        left: 3.21%;
                        top: 13.5%;
                        height: 16.21%;
                        width: 31.56%;
                    }
                    .left-log-explanation {
                        left: 3.21%;
                        top: 35.13%;
                        height: 59.46%;
                        width: 41.8%;
                    }
                    .left-log-icon {
                        left: 45.9%;
                        top: 8.1%;
                        height: 27.02%;
                        width: 8.2%;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .left-log-date {
                        left: 65.32%;
                        top: 13.5%;
                        height: 16.21%;
                        width: 19.13%;
                    }
                }
                .comment-wrapper {
                    height: 30%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .comment-comentator {
                        width: 30%;
                        height: 100%;
                    }
                    .comment {
                        height: 100%;
                        width: 70%;
                        background: url('../img/Rectangle.png') no-repeat;
                        background-size: contain;
                        position: relative;
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 5% 20% 50% 25%;
                        .comment-info {
                            grid-row: 2/3;
                            grid-column: 1/2;
                            display: grid;
                            grid-template-columns: 30% 40% 1fr;
                            grid-template-rows: 1fr;
                            text-align: center;
                            font-size: 2.4rem;
                            * {
                                grid-row: 1/2;
                            }
                            p {
                                grid-column: 1/2;
                            }
                            span {
                                background: #ccc;
                                grid-column: 2/3;
                            }
                        }
                        .comment-container {
                            padding: 5%;
                            text-align: center;
                            grid-row: 3/4;
                            grid-column: 1/2;
                            font-size: 2.4rem;
                        }
                    }
                }
            }
        }
    }
}
